{% extends 'layouts/gentelella/layout.html' %}

{% block content_header %}

    <div class="page-title">
        <div class="title_left">
            <h3>Accounts <small>{{ account.title }} detail</small></h3>
        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="x_panel">
        <div class="x_content">
            <!-- TODO account info -->
        </div>
    </div>

    <div class="x_panel">
        <div class="x_content">
            <!-- TODO list of account transactions -->
        </div>
    </div>

{% endblock %}